<blockquote class="blockquote">
  <p class="mb-0"><%= @question %></p>
  <footer class="blockquote-footer">Your question</cite></footer>
</blockquote>
<blockquote class="blockquote">
  <p class="mb-0"><%= @answer %></p>
  <footer class="blockquote-footer">Stupid coach</cite></footer>
</blockquote>
<%= link_to "Ask another question", ask_path %>
